nav {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  background-color: #fff;
  border-bottom: 1px solid #e2e2e2;
  vertical-align: middle;
  height: 45px;
  z-index: 100;
}

.rightTopMenu {
  float: right;
  margin: 10px;
}

.leftTopMenu {
  float: left;
  margin: 10px;
}


.menuList {
  display: inline-block;
}

.menuLogo {
  height: 40px;
}

.menuLink {
  text-decoration: none;
  color: #000;
  font-weight: 700;
}

.subscribeBtn {
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  background: #567b95;
  border: 1px solid #326891;
  font-size: 11px;
  color: #fff;
  font-weight: 700;
  vertical-align: middle;
  padding: 7px;
  border-radius: 10%;
}
